@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

* {
    font-family: 'Fredoka', cursive;
    margin: 0 auto;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

s {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

b {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}


main {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}
.content {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 100px;
    background-color: whitesmoke;
    width: 680px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 darkgray;
}
legend {
    background-color: #1e1c22;
    width: 100%;
    color: white;
    padding: 10px 0 10px 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
form {
    margin-top: 30px;
    width: 65%;
    height: 400px;
}


input[type="text"] {
    border: none;
    margin-top: 30px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    width: 90%;
}
input[type="number"] {
    border: none;
    margin-top: 30px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    width: 90%;
}
button[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
}

label {
    color: #1e1c22;
    margin-left: 8px;
}


.uploadBtn {
    border: 1px;
    border-radius: 10px;
    border-style: dotted;
    cursor: pointer;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    width: 100%;
    margin-top: 20px;
}