body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right, #ffffff, rgb(137, 140, 155));
}
main {
    width: 500px;
    position: relative;
    margin: 0 auto;
}
.box {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 210px;
    background-color: rgb(44, 45, 51);
    padding: 15px;
    border-radius: 15px;
}
fieldset {
    border: 1px solid #ffffff;
    border-radius: 10px;
}
legend {
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.inputUser {
    border: none;
    border-bottom: 1px solid #ffbb00;
    border-width: 100%;
    outline: none;
    height: 25px;
    width: 100%;
    color: white;
    font-size: 16px;
    margin-top: 25px;
    background: none;
    letter-spacing: 2px;
}
.inputBox {
    position: relative;
}
.inputLabel {
    color: #ffffff;
    padding: -20px;
    pointer-events: none;
    transition: .5s;
    font-size: 10px;
}
.inputUser:focus ~ .inputLabel{
    top:-20px;
    font-size: 16px;
    color: #ffffff;
}
#submit {
    color: rgb(0, 0, 0);
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right,#ffbb00, #fffb00);
    text-align: center;
    height: 50px;
    width: 440px;
    cursor: pointer;
}