@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

* {
    font-family: 'Fredoka', cursive;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

body {
    background-color: #cfcfcf;
}

main {
    max-width: 100vw;
    width: 99%;
    margin: 0 auto;
}

.navBar {
    background-color: #1c1b1f;
    border-bottom: 1px solid #08a1cf;
}

.logo {
    font-size: 26px;
    width: 10%;
    float: left;
    padding: 6px;
}

.navItem {
    display: inline-block;
    font-size: 22px;
    padding: 10px;
}

@keyframes animation-1 {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}
/*--------------------------------------------------------------------------------CONTAINER-------------------------------------------------------------------------------*/
.container {
    margin-top: 5px;
    max-width: 1980px;
    width: 100%;
    height: 90vh;
    box-shadow: 0 1px 5px 0px #000000;
    border-radius: 3px;
    background-color: #ffffff;
}

.container legend {
    text-align: center;
    line-height: 50px;
    background-color: #1c1b1f;
    font-size: 20px;
    color: #ffffff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.sidebar {
    height: 100%;
    width: 10%;
    background-color: #1c1b1f;
    float: left;
}

.sideItem {
    width: 95%;
    line-height: 30px;
    display: inline-table;
    padding-left: 10px;
    border-bottom: 1px solid #08a1cf75;
}

.sideItem:hover {
    transition: all 0.2s;
    border-bottom: 1px solid #08a1cf;
}

.sideSearch {
    width: 90%;
    background-color: #e4e4e41c;
    border: none;
    border-bottom: 1px solid #08a1cf71;
    line-height: 30px;
    padding-left: 10px;
    color: white;
    font-size: 18px;
}

/*--------------------------------------------------------------------------------------------------TABLE-----------------------------------------------------------------------------------*/

table {
    width: 90%;
    border-spacing: 2px !important;

}

table tr th {
    background-color: #ffffff;
    color: #1c1b1f;
    border-right: 1px solid #1c1b1f04;
    border-bottom: 1px solid #1c1b1f04;
    padding: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    text-transform: uppercase;
}

table tr td {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    border: 1px solid #9e9e9e28;
    color: #1c1b1fbb;
}

i {
    margin-left: 10px;
}
.action {
    color: #000000;
    font-size: 12px;
    padding: 3px;
}
/*------------------------------------------------------------------------------------------------NAVIGATION----------------------------------------------------------------------------------*/


.navPage {
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    height: 50px;
    margin-top: 15px;
    font-size: 14px;
}

.navPageItem {
    display: inline-block;
}

.navPageItem a {
    text-align: center;
    color: #000000;
    padding: 5px;
    border: 1px solid #cacaca;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.navPageItem a:hover {
    color: #08a1cf;
    background-color: #ffffff;
    border: 1px solid #08a1cf;
    transition: 0.1s;
}

.navPageItem.active {
    color: #00394b;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #08a1cf;
    transition: 0.1s;
}

/*----------------------------------------------------------------------MODAL DELL------------------------------------------------------------------*/
.modalBack {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #1c1b1f6e;
    top: -1200px;
    left: 0;
}
.modalBack.show
{
    top: 0;
    animation: animation-1 0.2s;
}
.modalDell {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 160px;
    background-color: #ffffff;
    border-radius: 3px;
}

.modalDell legend {
    text-align: center;
    line-height: 50px;
    background-color: #1c1b1f;
    font-size: 20px;
    color: #ffffff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}
.deleteBtn {
    margin-top: 20px;
    margin-left: 12px;
    color: #000000;
    padding: 20px 100px 20px 100px;
    border-radius: 3px;
    float: left;
}
.actYes {
    background-color: #48e99e;
}
.actYes:hover {
    background-color: #6ce2ab;
    transition: all 0.2s;
}
.actNo {
    background-color: #9b1e1e;
}
.actNo:hover {
    background-color: #9b1e1ece;
    transition: all 0.2s;
}