@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

* {
    font-family: 'Fredoka', cursive;
    margin: 0 auto;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

s {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

b {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}


main {
    max-width: 100vw;
    width: 99%;
    margin: 0 auto;
}

.navBar {
    background-color: #1c1b1f;
    border-bottom: 1px solid #08a1cf;
}

.logo {
    font-size: 26px;
    width: 10%;
    float: left;
    padding: 6px;
}

.navItem {
    display: inline-block;
    font-size: 22px;
    padding: 10px;
}

body {
    background-color: #d3d3d3;
}

img {
    max-width: 100%;
}


.boxContent {
    max-width: 1080px;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 1px 10px 0 #414141;
    height: 600px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex>div {
    flex: 0 100px 150px;
    margin: 30px;
    width: 200px;
    max-height: 200px;
}

.link {
    text-decoration: none;
    box-shadow: 0 1px 1px 0 #b6d5f3;
    background-color: #ffffff;
    opacity: 0.9;
}

.link:hover {
    box-shadow: 0 1px 5px 0 #b6d5f3;
    transition: all 0.2s;
    opacity: 1;
}

.linkTitle {
    background-color: #3f618154;
    text-align: center;
    border-top: 1px solid #c3e2ff;
    color: #ffffff;
    padding: 10px;
    margin-top: -3px;
    z-index: 10;
}

.linkTitle:hover {
    background-color: #3f6181c2;
    transition: all 0.3s;
}

.boxTitle {
    background-color: #1c1b1f;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 2px solid #00ccff;
}