@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: GoodTimes;
    src: url("./font/good\ times\ rg.otf");
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: absolute;
    width: 250px;
    background: #1c1b1f;
    height: 100%;
}

.sidebar .sidebar-title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1c1b1f;
    letter-spacing: 1px;
}

nav ul {
    width: 100%;
    list-style: none;
    background: #1c1b1f;
}

nav ul li {
    line-height: 40px;
    border-radius: 5px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 30px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 5px solid transparent;
}

nav ul li a:hover {
    background-color: white;
    border-bottom: 1px solid #ffd000;
    border-left: 1px solid #1c1b1f;
    color: #1c1b1f;
    transition: all 0.3s;
}

nav ul li a span {
    float: left;
    padding-top: 13px;
    padding-right: 20px;
}

.down {
    margin-top: 450px;
}

.wide-1 {
    float: right;
    width: 87%;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    height: 100%;
}

.acount-title {
    font-size: 40px;
    margin-left: 50px;
    margin-top: 20px;
}

.acount-info img {
    color: #dbdcff;
    height: 280px;
    width: 280px;
    border: 1px solid #d4d4d4;
    background-color: white;
    box-shadow: 0 2px 2px 0 #bbbbbb;
}

.acount-info {
    padding: 40px;
    height: 320px;
}

.acount-info ul {
    display: flex;
}

.acount-info ul li {
    list-style: none;
    display: inline-block;
}

.acount-info ul li ul li {
    list-style: none;
    margin-top: 28px;
    color: #1c1b1f;
}

.acount-info ul li ul {
    color: #1c1b1f;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #bbbbbb;
    height: 280px;
}


.column-3 ul li {
    color: #000000;
    height: 60px;
    border-radius: 20px;
    padding: 10px;
    background-color: #fbfcff;
    cursor: pointer;
    border: 1px solid transparent;
}


.column-3 ul li label {
    padding: 10px;
    color: #1c1b1f;
    cursor: pointer;
}

.column-3 ul li:hover {
    background-color: #1c1b1f;
    border: 1px solid #ffd00085;
    transition: all 0.4s;
}

.column-3 ul li label:hover {
    color: #ffffff;
}

.column-2 ul li {
    border-bottom: 1px solid #ffd00085;
}

.column-1 ul li {
    border-bottom: 1px solid #ffd00083;
}

.btn-1 {
    margin-left: 1200px;
    margin-top: 10px;
}

.btn-1 button {
    border: 1px solid #ffffff;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    background-color: #1c1b1f;
    height: 30px;
    width: 120px;
    cursor: pointer;
    background-image: linear-gradient(to right, #1c1b1f, #390096);
}

.btn-1 button:hover {
    background-image: linear-gradient(to right, #1c1b1f, #1c1b1f);
    transition: all 0.4s;
}

.btn-1 span {
    margin-left: 10px;
}

.bar-1 {
    height: 30px;
    background-image: linear-gradient(to right, #1c1b1f, #20005a);
    border-bottom: 1px solid #ffd000;
}

.bar-1 ul li {
    color: #ffffff;
    font-family: 'GoodTimes';
    margin-top: 6px;
    margin-left: 20px;
    font-size: 13px;
    list-style: none;
    display: inline-block;
}

.container {
    position: absolute;
    top: 200px;
    left: 500px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 20px 0;
    height: 400px;
    width: 1100px;
    display: none;
}

#editForm input {
    display: inline-table;
    padding: 8px;
}

legend {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    color: white;
    text-align: center;
    height: 30px;
    background-image: linear-gradient(to right, #000000, #1c1b1f);
    border-bottom: 1px solid #ffd000;
}

#editForm ul li {
    list-style: none;
    padding: 10px;
}