@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #cfcfcf;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

main {
    max-width: 100vw;
    width: 99%;
    margin: 0 auto;
}

.navBar {
    background-color: #1c1b1f;
    border-bottom: 1px solid #08a1cf;
}

.logo {
    font-size: 26px;
    width: 10%;
    float: left;
    padding: 6px;
}

.navItem {
    display: inline-block;
    font-size: 22px;
    padding: 10px;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: whitesmoke;
    padding: 6px;
    width: 480px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 darkgray;
    overflow: hidden;
}

form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 395px;
    height: 400px;
}

.buttonsForm {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 #dadada;
    background-color: #1e1c22;
}

.buttonsForm button {
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: relative;
    padding: 10px 32px;
}

.btnColor {
    position: absolute;
    width: 140px;
    height: 100%;
    background: linear-gradient(to right, #ff32e4, #3700ff);
    border-radius: 30px;
    transition: .3s;
}

input[type="text"] {
    border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
}

button[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
}

#form1 {
    left: 40px;
}

#form2 {
    left: 500px;
}

#form3 {
    left: 500px;
}

#class {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    width: 210px;
}

label {
    color: #1e1c22;
    margin-left: 8px;
}

#peca {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    width: 210px;
}

#aces {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    width: 190px;
}

.ico1 {
    position: absolute;
    top: 88px;
    padding: 10px;
}

.ico2 {
    position: absolute;
    top: 166px;
    padding: 10px;
}

.ico3 {
    position: absolute;
    top: 244px;
    padding: 10px;
}

.uploadBtn {
    border: 1px;
    border-radius: 10px;
    border-style: dotted;
    cursor: pointer;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    width: 100%;
    margin-top: 20px;
}